/* @media (max-width:500px) {
   ul {
      display: none; /* 500px 보다 화면 크기 작아지면 상단 메뉴바 없어짐 
   }
   
   h1 {
      display: none; 
   }
} */

#first_area {
  display: flex;
}

#logo {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-top: 25px; 
 
}

#language {
  margin-left: 20px; 
  margin-right: -30px; 
}

#language_content {
   font-family: 'Nanum Gothic', sans-serif;
     font-size: 17px;
     width: 100px; 
     
     margin-top: -35px; 
     margin-left: 70px; 
      
}

#login_content, #logout_content{
   font-family: 'Nanum Gothic', sans-serif;
    font-size: 17px; 
    text-decoration: none;
   
   width: 100px;  
    height: 10px; 
    
    margin-right: -30px; 
    margin-top: -35px; 
}

#login {
   width: 100px;  
    height: 50px; 
    
    margin-right: -20px; 
    margin-left: 20px; 
    margin-bottom: -100px; 
}

.menubar {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 17px;
  margin-left: 5%; 
  
  display: block; 
  
  width: 1000px;  
  height: 80px; 
  
  margin-right: -140px; 
 
}


* { /* 紐⑤뱺 �깭洹몄쓽 留덉쭊怨� �뙣�뵫媛믪쓣 珥덇린�솕 */
  margin: 0px;
  padding: 0px;
}


.menubar ul { /* 由ъ뒪�듃 �뒪���씪 �뾾�븷湲� */
  list-style: none;
 
}

.menubar ul li { /*�긽�쐞 硫붾돱 */
  /*background-color: #a17474;
  border: 1px solid #a17474; */
  width: 140px; /* 硫붾돱 諛뺤뒪 媛�濡� 湲몄씠 */
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  position: relative; /* �긽�쐞 硫붾돱�쓽 �쐞移섎�� */
  color: black; 
 
}

.menubar ul li a {
  text-decoration: none; /* 留곹겕 諛묒쨪 �뾾�빊 */
  color: black; 
  display: block;
}

.menubar ul li a:hover {
  background-color: #b58d8d;
}

.menubar ul ul { /* �룊�냼�뿉�뒗 �븯�쐞 硫붾돱媛� 蹂댁씠吏� �븡寃� �쟻�슜 */
  display: none;
  position: absolute; /* �븯�쐞 硫붾돱媛� �긽�쐞 硫붾돱�쓽 �쐞移섎�� 湲곗��쑝濡� �옄由ъ옟�쓬 */
}

.menubar ul li:hover > ul { /* menubar �븞�쓽 紐⑤뱺 ul li�뿉 留덉슦�뒪 而ㅼ꽌 �삱由щ㈃ 洹� �븘�옒 ul 蹂댁씠�룄濡� (�븯�쐞硫붾돱 �뵒�뒪�뵆�젅�씠)*/
  display: block;
}

/* body {
  background: url(background_img_3.jpg) no-repeat center center fixed; /* 諛곌꼍�솕硫� 梨꾩슦湲� (�뿬諛� �뾾�씠) - 怨좏솕吏� �궗吏� �븘�슂�븿
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

#title {
  color: black; 
  font-size: 50px;
  margin-left: 8%;
  margin-top: 10%;
 
  width: 1000px; 
  height: 120px; 
}

#subtitle {
  font-family: 'Nanum Gothic', sans-serif;
  color: black; 
  font-size: 25px;
  margin-left: 8%;
  margin-top: 2%;
  
  width: 700px; 
}

#title_animation { /* ���씠�� �븷�땲硫붿씠�뀡 吏��젙 */
  animation-name: slidein;
  animation-duration: 3s;
  animation-delay:1s;
}

@keyframes slidein { /* slidein �븷�땲硫붿씠�뀡 �냽�꽦 吏��젙 */
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#all_boards {
   width: 1100px; 
   height: 600px; 
   
   margin-top: 30%; 
   margin-left: 7%; 
}


#Notice, #Promotion, #Claims, #Departments{ /* 理쒓렐 湲� �깋�긽 �벑 怨듯넻�슂�냼 */
  color: black;
  text-decoration: none;
}

#notice {
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  border: solid 2px black; 
  width: 500px; 
  height: 280px; 
  
  text-align: center; 
  
}
#promotion {
  display: inline-block;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px; 
  border: solid 2px black; 
  width: 500px; 
  height: 280px; 
  
  margin-left: 2%; 
  
  text-align: center; 
}

#claim {
   display: inline-block;
   font-family: 'Nanum Gothic', sans-serif;
   font-size: 20px;
   border: solid 2px black; 
   width: 500px; 
   height: 280px; 

   margin-top: 3%; 
   
   text-align: center; 
}

#departments {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  border: solid 2px black; 
  width: 500px; 
  height: 280px; 
  
  text-align: center; 
  
  margin-left: 48%; 
  margin-top: -280px; 
 
}

#table_responsive {
   width: auto;
   height: 100px; 
   background-color: red; 
   
   text-align: center; 
}

table {
   width: 90%; 
   height: 50px; 
 margin-top: 8%;
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;

 
 padding-top: 5px; 
 
 background-color: blue; 
}

table, td, tr {
  border: 2px solid black;
  padding-top: 20px;
  text-align: center;
  color: black;
  font-size: 15px; 
  
  padding-top: 5px; 
  
  background-color: yellow; 
}

#quick_menu {
  text-decoration: none;
  color: black;
  font-size: 15px;
  
  padding-top: 5px; 
}

footer {
   display: inline-block;
   border: 4px solid #dbdad9; 
   width: auto;
   height: 100px; 
   background-color: #e8e7e6; 
   text-align: center; 
   left: 0px; 
}

#footer_content {
   padding-top: 30px; 
   padding-right: 10px; 
}

#hr1 {
   width: 82%; 
   border: double 4px white; 
   margin-top: 6%; 
}

#board {
   text-align: center; 
}


#logo {
  margin-left: 100%; 
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-top: 25px; 
}

#language {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 45px; 
  
  color: black; 
}

#login {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 45px; 
  text-decoration: none;
  
  color: black;
}

.menubar {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 17px;
    display: inline-block;
    margin-left: 5%;
    padding-top: 35px;
}

#logo {
  margin-left: 100%; 
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-top: 25px; 
}

#language {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 45px; 
  
  color: black; 
}

#login {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 45px; 
  text-decoration: none;
  
  color: black;
}

.menubar {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 17px;
  display: inline-block;
  margin-left: 5%;
  padding-top: 35px;
}


* { /* 紐⑤뱺 �깭洹몄쓽 留덉쭊怨� �뙣�뵫媛믪쓣 珥덇린�솕 */
  margin: 0px;
  padding: 0px;
}

.menubar ul { /* 由ъ뒪�듃 �뒪���씪 �뾾�븷湲� */
  list-style: none;
}

.menubar ul li { /*�긽�쐞 硫붾돱 */
  /*background-color: #a17474;
  border: 1px solid #a17474; */
  width: 140px; /* 硫붾돱 諛뺤뒪 媛�濡� 湲몄씠 */
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  position: relative; /* �긽�쐞 硫붾돱�쓽 �쐞移섎�� */
  color: black; 
}

.menubar ul li a {
  text-decoration: none; /* 留곹겕 諛묒쨪 �뾾�빊 */
  color: black; 
  display: block;
}

.menubar ul li a:hover {
  background-color: #b58d8d;
}

.menubar ul ul { /* �룊�냼�뿉�뒗 �븯�쐞 硫붾돱媛� 蹂댁씠吏� �븡寃� �쟻�슜 */
  display: none;
  position: absolute; /* �븯�쐞 硫붾돱媛� �긽�쐞 硫붾돱�쓽 �쐞移섎�� 湲곗��쑝濡� �옄由ъ옟�쓬 */
}

.menubar ul li:hover > ul { /* menubar �븞�쓽 紐⑤뱺 ul li�뿉 留덉슦�뒪 而ㅼ꽌 �삱由щ㈃ 洹� �븘�옒 ul 蹂댁씠�룄濡� (�븯�쐞硫붾돱 �뵒�뒪�뵆�젅�씠)*/
  display: block;
}

/* body {
  background: url(background_img_3.jpg) no-repeat center center fixed; /* 諛곌꼍�솕硫� 梨꾩슦湲� (�뿬諛� �뾾�씠) - 怨좏솕吏� �궗吏� �븘�슂�븿
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

#title {
  color: black; 
  font-size: 50px;
  margin-left: 8%;
  margin-top: 10%;
}

#subtitle {
  font-family: 'Nanum Gothic', sans-serif;
  color: black; 
  font-size: 25px;
  margin-left: 8%;
  margin-top: 2%;
}

#title_animation { /* ���씠�� �븷�땲硫붿씠�뀡 吏��젙 */
  animation-name: slidein;
  animation-duration: 3s;
}

@keyframes slidein { /* slidein �븷�땲硫붿씠�뀡 �냽�꽦 吏��젙 */
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



footer {
	display: inline-block;
	border: 4px solid #dbdad9; 
	width: auto;
	height: 100px; 
	background-color: #e8e7e6; 
	text-align: center; 
	left: 0px; 
}

#footer_content {
	padding-top: 30px; 
	padding-right: 10px; 
}

#hr1 {
	width: 82%; 
	border: double 4px white; 
	margin-top: 6%; 
}

#board {
	text-align: center; 
>>>>>>> branch 'new_111' of https://github.com/ZIO-KIM/web_sns.git
}


* { /* 紐⑤뱺 �깭洹몄쓽 留덉쭊怨� �뙣�뵫媛믪쓣 珥덇린�솕 */
  margin: 0px;
  padding: 0px;
}

.menubar ul { /* 由ъ뒪�듃 �뒪���씪 �뾾�븷湲� */
  list-style: none;
}

.menubar ul li { /*�긽�쐞 硫붾돱 */
  /*background-color: #a17474;
  border: 1px solid #a17474; */
  width: 140px; /* 硫붾돱 諛뺤뒪 媛�濡� 湲몄씠 */
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  position: relative; /* �긽�쐞 硫붾돱�쓽 �쐞移섎�� */
  color: black; 
}

.menubar ul li a {
  text-decoration: none; /* 留곹겕 諛묒쨪 �뾾�빊 */
  color: black; 
  display: block;
}

.menubar ul li a:hover {
  background-color: #b58d8d;
}

.menubar ul ul { /* �룊�냼�뿉�뒗 �븯�쐞 硫붾돱媛� 蹂댁씠吏� �븡寃� �쟻�슜 */
  display: none;
  position: absolute; /* �븯�쐞 硫붾돱媛� �긽�쐞 硫붾돱�쓽 �쐞移섎�� 湲곗��쑝濡� �옄由ъ옟�쓬 */
}

.menubar ul li:hover > ul { /* menubar �븞�쓽 紐⑤뱺 ul li�뿉 留덉슦�뒪 而ㅼ꽌 �삱由щ㈃ 洹� �븘�옒 ul 蹂댁씠�룄濡� (�븯�쐞硫붾돱 �뵒�뒪�뵆�젅�씠)*/
  display: block;
}

/* body {
  background: url(background_img_3.jpg) no-repeat center center fixed; /* 諛곌꼍�솕硫� 梨꾩슦湲� (�뿬諛� �뾾�씠) - 怨좏솕吏� �궗吏� �븘�슂�븿
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

#title {
  color: black; 
  font-size: 50px;
  margin-left: 8%;
  margin-top: 10%;
}

#subtitle {
  font-family: 'Nanum Gothic', sans-serif;
  color: black; 
  font-size: 25px;
  margin-left: 8%;
  margin-top: 2%;
}

#title_animation { /* ���씠�� �븷�땲硫붿씠�뀡 吏��젙 */
  animation-name: slidein;
  animation-duration: 3s;
}

@keyframes slidein { /* slidein �븷�땲硫붿씠�뀡 �냽�꽦 吏��젙 */
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



footer {
   display: inline-block;
   border: 4px solid #dbdad9; 
   width: auto;
   height: 100px; 
   background-color: #e8e7e6; 
   text-align: center; 
   left: 0px; 
}

#footer_content {
   padding-top: 30px; 
   padding-right: 10px; 
}

#hr1 {
   width: 82%; 
   border: double 4px white; 
   margin-top: 6%; 
}

#board {
   text-align: center; 
}


