#first_area {
  display: flex; /* first area 占쎄묶域뱄옙 占쎄땀占쎌벥 占쎌뒄占쎈꺖占쎈굶 占쎈꼥占쎌뵠 占쎈짗占쎌뵬占쎈릭野껓옙 筌띿쉸�뼚餓ο옙 */
}

#logo {
  margin-left: 100%; 
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-top: 25px; 
}

#language {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 45px; 
  color: black;
}

#login {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-left: 3%;
  margin-top: 45px; 
  color: black;
  text-decoration: none;
}

#menubar {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 17px;
  display: inline-block;
  margin-left: 7%;
  padding-top: 35px;
}

* { /* 筌뤴뫀諭� 占쎄묶域밸챷�벥 筌띾뜆彛딀�⑨옙 占쎈솭占쎈뎃揶쏅�れ뱽 �룯�뜃由곤옙�넅 */
  margin: 0px;
  padding: 0px;
}

#menubar ul { /* �뵳�딅뮞占쎈뱜 占쎈뮞占쏙옙占쎌뵬 占쎈씨占쎈막疫뀐옙 */
  list-style: none;
}

#menubar ul li { /*占쎄맒占쎌맄 筌롫뗀�뤀 */
  /*background-color: #a17474;
  border: 1px solid #a17474; */
  width: 140px; /* 筌롫뗀�뤀 獄쏅벡�뮞 揶쏉옙嚥∽옙 疫뀀챷�뵠 */
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  position: relative; /* 占쎄맒占쎌맄 筌롫뗀�뤀占쎌벥 占쎌맄燁살꼶占쏙옙 */
}

#menubar ul li a {
  text-decoration: none; /* 筌띻낱寃� 獄쏅쵐夷� 占쎈씨占쎈퉲 */
  color: black;
  display: block;
}

#menubar ul li a:hover {
  background-color: #b58d8d;
}

#menubar ul ul { /* 占쎈즸占쎈꺖占쎈퓠占쎈뮉 占쎈릭占쎌맄 筌롫뗀�뤀揶쏉옙 癰귣똻�뵠筌욑옙 占쎈륫野껓옙 占쎌읅占쎌뒠 */
  display: none;
  position: absolute; /* 占쎈릭占쎌맄 筌롫뗀�뤀揶쏉옙 占쎄맒占쎌맄 筌롫뗀�뤀占쎌벥 占쎌맄燁살꼶占쏙옙 疫꿸퀣占쏙옙�몵嚥∽옙 占쎌쁽�뵳�딆삜占쎌벉 */
}

#menubar ul li:hover > ul { /* menubar 占쎈툧占쎌벥 筌뤴뫀諭� ul li占쎈퓠 筌띾뜆�뒭占쎈뮞 �뚣끉苑� 占쎌궞�뵳�됥늺 域뱄옙 占쎈툡占쎌삋 ul 癰귣똻�뵠占쎈즲嚥∽옙 (占쎈릭占쎌맄筌롫뗀�뤀 占쎈탵占쎈뮞占쎈탣占쎌쟿占쎌뵠)*/
  display: block;
}

body {
  background: white; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  color: black;
  font-size: 50px;
  margin-left: 8%;
  margin-top: 10%;
}

#subtitle {
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
  font-size: 25px;
  margin-left: 8%;
  margin-top: 2%;
}

#title_animation { /* 占쏙옙占쎌뵠占쏙옙 占쎈막占쎈빍筌롫뗄�뵠占쎈�� 筌욑옙占쎌젟 */
  animation-name: slidein;
  animation-duration: 3s;

}

@keyframes slidein { /* slidein 占쎈막占쎈빍筌롫뗄�뵠占쎈�� 占쎈꺗占쎄쉐 筌욑옙占쎌젟 */
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
table {
  border-collapse: collapse;
  color: black;
}
table, th, td {
  border: 1px solid white;
  color: black;
  text-decoration: none;
}

th, td {
  padding: 15px;
}

#container {
    max-width: 1180px;
    margin: 60px auto 100px;
    height: 100px; 
    margin-top: 100px; 
}

#container nav {
    float: left;
    width: 200px;
    margin-left: 2%; 
}

#container nav h2 {
    padding-bottom: 13px;
    font-size: 25px;
    color: black; 
    line-height: 200%;
    font-weight: normal;
    word-break: keep-all;
    background: url(../imgs/bg_lnb_top.png) no-repeat bottom;
}

.content {
    width: 75%;
    float:right;
}

.content header h1{
  color: black;
  padding-bottom: 15px;
}

ul, ol {
    list-style: none;
}

.lnb_deps2 > li {
    min-height: 50px;
    box-sizing: border-box;
    padding: 15px 3px;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    color: black;
}

.lnb_deps2 > li >a{
   text-decoration:none ;
   color: black;
}
a{
  color: black; 
}

footer {
	display: inline-block;
	border: 4px solid #dbdad9; 
	width: 100%; 
	height: 100px; 
	background-color: #e8e7e6; 
	text-align: center; 
	
	margin-top: 30px; 
	margin-left: 0px; 
	margin-bottom: 0px; 
}

#footer_content {
	padding-top: 30px; 
	padding-right: 10px; 
}
